.about2 {
    background-color: black;
    background-image: url('../Img-icon/man-123.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100vw;
    height: 100vh;

}

.about {
    position: absolute;
    top: 35%;
    left: 22%;
    padding-left: 25px;
}

.aboutPara {
    max-width: 70%;
    text-align: justify;
    text-shadow: 1px 1px 5px #000;
}

.shamssaifPic {
    max-width: 70%;
}

.shamssaifPic img {
    width: 150px;
    border-radius: 50%;
}

@media only screen and (max-width: 640px) {
    .about {
        top: 20%;
        left: 20%;
    }

    .aboutPara {
        max-width: 90%;
    }

    .shamssaifPic {
        margin: 0 auto;
    }
}